language: python
python:
  - "3.6"
before_install:
  - sudo apt-get update
install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - hash -r
  # - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
  - conda config --add channels bioconda
  - conda config --add channels conda-forge
  - conda create -q -n test-environment python=3.6 samtools>=1.7 pandas>=0.23 bowtie2>=2.3 mash>=2 bcftools>=1.7 biopython>=1.69 blast>=2.2.31 seqtk>=1.2
  - conda activate test-environment
  - python setup.py install

script:
  - pytest