language: python
python:
  # We don't actually use the Travis Python, but this keeps it organized.
  - "2.7"
  - "3.6"
install:
  - sudo apt-get update
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
  - conda config --add channels bioconda
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION samtools bowtie2 mash bcftools biopython nose blast pandas seqtk future
  - source activate test-environment
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      conda install backports.weakref;
    else
      continue;
    fi
  - python setup.py install
  # Setup automatic conda uploading.
  - conda install anaconda-client
  - conda config --set anaconda_upload yes
  # test the conda build
  - conda install conda-build
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      conda build -c bioconda recipe/ --python=2.7;
    else
      conda build -c bioconda recipe/ --python=3.6;
    fi
  -
script:
  - nosetests
notifications:
  email: false
