.header1 {
    text-align: center;
    color: teal;
}

.button {
    width: 20%;
    height: 40px;
    background-color: teal;
    color: seashell;
    font-weight: bolder;
    font-size: larger;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
}

.button:hover {
    background-color: lightseagreen;
}

.uploadform {
    text-align: center;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-size: large;
}

input.perc-input {
    border: none;
    border-bottom: 2px solid teal;
    width: 50px;
    text-align: center;

}

.table-checkbox-label
{
    font-size: small;
}

.verbosity {

    font-size: medium;
}

.results {
    border: 2px solid teal;
    border-collapse: collapse;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: #1c3e5c;
    }

th, td {
    border: 1.5px solid teal;
    padding: 0.5%;
}

th {
    background-color: teal;
    color: floralwhite;
}

tr:nth-child(odd) {
    background-color: whitesmoke;
}

tr:nth-child(even){
    background-color: #e5e5e5;
}

td#result-genome {
    font-weight: bold;
}

.results-caption {
    display: table-caption;
    font-weight: bolder;
}

input.return-button {
    font-size: small;
    width: 15%;
    height: 20px;
}

div#return-button {
    margin: 15px;
    text-align: center;
    font-size: small;

}